ul{
    list-style: none;
    padding: 0px;
    margin: 10px;
}

body{
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
<<<<<<< HEAD
.logo{
    height: 70px;
}

.mainButton{
    background-color: #1bb76e;
    color: white;
}

.button{
    border: 0px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px green;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton{
    background-color: #1bb76e;
}

.mainButton:hover{
    box-shadow: 2px 2px green;

}

.secondaryButton{
    background-color: #66d8f5;

}

.secondaryButton:hover{
    box-shadow: 2px 2px rgb(119, 229, 233);

}